@font-face {
    font-family: "navbar";
    src: url("../fonts/CarterOne-Regular.ttf");
}

@font-face {
    font-family: "general";
    src: url("../fonts/Coustard-Regular.ttf");
}

@font-face {
    font-family: "headers";
    src: url("../fonts/Coustard-Black.ttf");
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ************************ General Default Style ********************** */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ********************************************************************* */
/* ****************** Loading Animation Styling ************************* */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d98ba;
    z-index: 5;

    transition: opacity 1s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.loading > img:nth-child(1) {
    position: fixed;
    height: 33vh;
    animation: rotate 2s infinite linear;
}
.loading > img:nth-child(2) {
    position: fixed;
    height: 26vh;
    animation: rotate 2.75s infinite linear;
}
.loading > img:nth-child(3) {
    position: fixed;
    height: 20.7vh;
    animation: rotate 3.5s infinite linear;
}
.loading > img:nth-child(4) {
    position: fixed;
    height: 9vh;
}
/* *************************************************************************** */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #035569;
    font-family: general, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

header {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d98ba;
    height: 85px;
    width: 100vw;
    top: 0;
    z-index: 4;
    border-bottom: solid 2px #063541;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #dfeff0;
    min-height: 89vh;
    width: 100vw;
    flex-grow: 1;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background-color:  rgba(3,85,105,1);
    height: 28px;
    width: 100vw;
    bottom: 0;
    flex-grow: 0;
}

footer > div {
    margin-left: 20px;
}

footer > div > a {
    color: white;
    text-decoration: none;
}

#adminAccess {
    height: 28px;
    width: auto;
    padding-top: 10px;
}


/* ********************************* Navigation Bar Styling ******************************* */
.navbar {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-family: navbar, Times, serif;
    background: rgb(13,152,186);
    background: linear-gradient(90deg, rgba(13,152,186,1) 0%, rgba(3,85,105,1) 75%);
    flex-grow: 0.15;
    border-bottom: solid rgb(3, 62, 77) 2px;
    padding-left: 40px;
    padding-right: 40px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navlink {
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

#navlink:hover {
    background-color: #319bb6;
}

#navlink:active {
    background-color: darkorange;
}

.logo {
    padding: 5px;
    max-height: 78px;
    width: auto;
    display: inline-block;
    object-fit: cover;
}

#mini {
    display: none;
}

#menu-button {
    display: none;
    height: 70px;
    justify-content: center;
    align-items: center;
    width: auto;
}

#menu-button:active {
    background-color: darkorange;
    opacity: 0.5;
}



#spacer {
    flex-grow: 1;
}
/* **************************************************************************************** */
/* ********************************* Infinity Banner Styling ****************************** */
#photowall {
    position: relative;
    background: rgb(245,148,68);
    background: linear-gradient(90deg, rgba(245,148,68,1) 0%, rgba(247,173,113,1) 75%);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 500px;
    width: 100vw;
    margin-bottom: 10px;
    border-top: solid 2px #035569;
    border-bottom: solid 2px #035569;
}

#photowall > .photorow > img {
    height: 250px;
    width: auto;
    object-fit: cover;
}

.photorow {
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 250px;
}

#opacWall {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100vw;
    z-index: 1;
    background: rgb(245,148,68);
    background: linear-gradient(90deg, rgba(245,148,68,1) 0%, rgba(247,173,113,1) 75%);
    opacity: 0.5;
}

#wallCaption {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100vw;
    font-family: headers;
    font-size: 200%;
    z-index: 3;
    color: white;
    outline: orange solid 1px;
    text-shadow: 2px 2px rgb(240, 136, 1);
}

#wallCaption > h1{
    margin-right: 15px;
}

#top {
    animation: infinityBannerTop 28s infinite linear;
}
#bottom {
    animation: infinityBannerBot 28s infinite linear;
}
/* **************************************************************************************** */
/* ********************************* Home Page Styling ****************************** */
#homeInfo {
    width: 60vw;
    height: auto;
}
#homeInfo > p{
    margin-bottom: 10px;
}

#banner {
    max-width: 80vw;
    background-color: white;
    height: auto;
    padding: 4px;
    border: #035569 solid 2px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
}

#bannerText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 156, 132);
    color: white;
    font-family: general;
    padding: 8px;
    font-size: 100%;
    border-radius: 10px;
}

#bannerText > p > a {
    border: solid 3px  rgb(29, 110, 93);
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

#bannerText > p > a:hover{
    background-color:  rgb(99, 173, 157);
}


h1, h2, h3 {
    font-family: headers, 'Times New Roman', Times, serif;
}
/* ****************************************** MOBILE DISPLAY ********************************* */
@media (max-width: 900px) {

    nav > ul {
        flex-direction: column;
    }

    nav {
        position: absolute;
        display: none;
        right: 0;
        top: 85px;
    }

    nav.open {
        display: block;
    }

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    #navlink {
        height: 35px;
        width: 150px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #035569;
        background: linear-gradient(90deg, rgb(8, 90, 110) 0%, rgba(3,85,105,1) 30%);
        border: solid #063541 2px;
    }

    #navlink > p {
        margin-right: 4px;
    }
                                            
    #menu-button {
        display: block;
        margin: 0;
    }

    #homeInfo {
        max-width: 80vw;
    }

    #bannerText {
        font-size: 75%;
    }

    #wallCaption {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #wallCaption > h1{
        margin: none;
    }
}

@media (max-width: 450px) {

    #mini {
        display: block;
        max-height: 65px;
    }

    #main {
        display: none;
    }
    
    #menu-button {
        height: 60px;
    }

    nav {
        top: 70px;
    }
    #banner {
        max-width: 90vw;
    }

    #bannerText {
        font-size: 60%;
    }

    header {
        height: 70px;
    }

    .navbar {
        height: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #photowall {
        border-top: none;
    }
}